<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put ,:class => 'form-horizontal',:multipart => true}) do |f| %>
  <%= devise_error_messages! %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :password ,:class => 'control-label'%>
   <div class="controls">
    <%= f.password_field :password ,:class => 'password_field'%><br /><i>(leave blank if you don't want to change it)</i>
   </div>
  </div>
  <div class="control-group">
   <%= f.label :password_confirmation ,:class => 'control-label'%>
   <div class="controls">
    <%= f.password_field :password_confirmation ,:class => 'password_field'%>
   </div>
  </div>  
  <div class="control-group">
   <%= f.label :current_password ,:class => 'control-label'%>
   <div class="controls">
    <%= f.password_field :current_password ,:class => 'password_field'%><br /><i>(we need your current password to confirm your changes)</i>
   </div>
  </div> 
  <!--  <div class="control-group">
   <%#= f.label :admin ,:class => 'control-label'%>
   <div class="controls">
    <%#= f.check_box :admin ,:class => 'check_box'%>
   </div>
  </div>   --> 
  <div class="control-group">
   <%= f.label :photo ,:class => 'control-label'%>
   <div class="controls">
    <%= f.file_field :avatar %>
   </div>
  </div>     
   <div class="form-actions">
    <%= f.submit "Update", :class => 'btn btn-primary' %>    
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete ,:class => 'btn btn-danger'%>.</p>

<%= link_to "Back", :back ,:class=> 'btn'%>
