<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal',:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' ,:placeholder=>"Email"%>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :password ,:class => 'control-label'%>
   <div class="controls">
  	<%= f.password_field :password ,:class => 'password_field' ,:placeholder=>"Password"%>
   </div>
  </div>
  <div class="control-group">
   <%= f.label :password_confirmation ,:class => 'control-label'%>
   <div class="controls">
  	<%= f.password_field :password_confirmation ,:class => 'password_field' ,:placeholder=>"Confirm Password"%>
   </div>
  </div>    
 <!--  <div class="control-group">
   <%#= f.label :admin ,:class => 'control-label'%>
   <div class="controls">
    <%#= f.check_box :admin ,:class => 'check_box'%>
   </div>
  </div>   -->  
  <div class="control-group">
   <%= f.label :photo ,:class => 'control-label'%>
   <div class="controls">
    <%= f.file_field :avatar %>
   </div>
  </div>  
   <div class="form-actions">
    <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
