<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html=>{:class => 'form-horizontal'}) do |f| %>
 <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email,:class => 'text_field' ,:placeholder=>"Email" %>
    </div>
  </div>

  <div class="control-group">
   <%= f.label :password ,:class => 'control-label'%>
   <div class="controls">
  	<%= f.password_field :password ,:class => 'password_field',:placeholder=>"Password"%>
   </div>
  </div>
  <% if devise_mapping.rememberable? -%>
  <div class="control-group">
    <div class="controls" >
    	<label class="checkbox">
        <%= f.check_box :remember_me %> Remember me
      </label>
    	 <%#= f.label :remember_me ,:class=>"checkbox" %>
    </div>
   </div>
  <% end -%>

   <div class="controls">
    	<%= f.submit "Sign In", :class => 'btn btn-primary' %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
 