<%= form_for @brand, :html => { :class => 'form-horizontal' ,:multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :categories, :class => 'control-label' %>
    <div class="controls">
     <% Category.where(:parent_id=>nil).all.each do |i| %>
      <label class="checkbox inline">
        <%= check_box_tag "brand[category_ids][]", i.id %><%= i.name %>
      </label>
     <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' ,:cols=>25 ,:rows=>5 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                brands_path, :class => 'btn' %>
  </div>
<% end %>
