<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, Category.nested_dropdown, :prompt => "Select Category" %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%#= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%#= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :brand_id ,Brand.all.collect{|x| [x.name , x.id]},:prompt=>"Select Brand"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :active, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :features, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :features, :class => 'text_area' ,:cols=>25 , :rows=>5 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area'  ,:cols=>25 , :rows=>5%>
    </div>
  </div>
    
  <div class="items">
    <%= f.nested_fields_for :images do |f| %>
      <fieldset class="item">
        <div class="control-group">
         <%= f.label :ImageTitle ,:class => 'control-label'%>
         <div class="controls">        
          <%= f.text_field :name %>
        </div>
       </div>
       <div class="control-group">
        <%= f.label :photo, :class => 'control-label' %> 
         <div class="controls">            
          <%= f.file_field :photo %>
         </div>
       </div>
        <div class="control-group">
        <a href="#" class="remove"><div class="controls"> <span class="btn btn-danger">Remove</span></div></a>
        </div>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>
  <a href="#" class="add"><span class="btn btn-primary">Add Image</span></a>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>


